*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    
}
#nav{
    height: 100px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding: 0 30px;

}
#nav h4{
    font-size: 20px;
    font-weight: 600;
}
#nav i{
    background-color: black;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px;
    font-weight: 500;

}
#center{
    
    width: 100%;
    
    padding: 40px 80px;


}
#center h1{
    
    
    font-size: 5.8vw;
    font-weight: 500;
    line-height: 90px;
    line-height: 6.2vw;
}
#center-in{
    height: 200px;
    
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}
#center-in p{
    /* font-size: 22px; */
    font-size: 1.8vw;
    font-weight: 600;
    /* line-height: 30px; */
    line-height: 2.5vw;
}
#right{
    width: 20%;
}
.elem{
    
    padding: 20px 0;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}
.elem i{
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
}
.elem a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
.elem:hover i{
    opacity: 1;


}
.elem:hover a{
    text-decoration: underline;
}
#bottom{
    height: 40%;
    width: 100%;
    background-color: red;
    background-image: url("https://images.unsplash.com/photo-1679690028701-ceb79f163ab8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: 0 15%;


}
@media (max-width: 600px){
    #nav{
        height: 60px;

        gap: 25px;
        padding: 0 20px;
    
    }
    #nav h4{
        font-size: 13px;
        font-weight: 600;
        /* display: none; */
    }
    #nav i{
        background-color: black;
        color: white;
        border-radius: 50%;
        font-size: 15px;
        padding: 7px;
        font-weight: 500;
    
    }
    #center{
    
        width: 100%;
        
        padding: 15px 20px;
    
    
    }
    #center h1{
        
        
        font-size: 9vw;
        font-weight: 500;
        
        line-height: 10.2vw;
    }
    #center-in{
        height: 200px;
        
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
    
    }
    #center-in p{
        /* font-size: 22px; */
        font-size: 2.2vw;
        
        font-weight: 600;
        /* line-height: 30px; */
        line-height: 4.5vw;
    }
    #right{
        width: 100%;
    }
    .elem{
        
        padding: 10px 0;
        border-top: 1.5px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        
    }
    .elem i{
        font-size: 18px;
        font-weight: 500;
        opacity: 1;
    }
    .elem a{
        color: black;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
    }
    #bottom{
        height: 36%;
        width: 100%;
        background-color: red;
        background-image: url("https://images.unsplash.com/photo-1679690028701-ceb79f163ab8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-size: cover;
        background-position: 0 15%;
        margin-top: 40px;
    
    
    }



}
